/*2013-08-29*/
#content.system .menu {
	margin-bottom:5px;
	}
	#content.system .menu li.act {
		background:#fff;
		}
#content.system form.search {
	margin-bottom:5px;
	}
#content.system table#users tr.status1 td {	color:rgb(0,180,0);	}
#content.system table#users td.homedirs ul {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
	}
#content.system table#users td.online {	white-space:nowrap;	}
#content.system form#groups,
#content.system form#roles {
	display:inline-block;
	margin:0 5px 5px 0;
	}
/*2008-12*/