/*2021-09-03*/
#content {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-content:flex-start;
	align-items:flex-start;
	gap:0.5rem;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
	}
	#content section {
		flex-grow:0;
		flex-shrink:0;
		flex-basis:calc(50vw - 2.75rem);
		max-width:calc(50vw - 2.75rem);
		min-height:calc(50vw - 2.75rem);
		/*box-sizing:border-box;*/
		margin:0;
		padding:1rem;
		/*aspect-ratio:1/1;*/
		background:#fff;
		word-wrap: break-word;
		color:rgb(100,100,100);
		text-align:center;
		}
	@keyframes listAnim {
		0%{	opacity:0;	/*transform: perspective(50em) rotateY(25deg);*/	}
		100%{	opacity:1;	/*transform:rotateY(0deg);*/	}
		}
	#content.axs.animationcontrol section,
	#content.axs.animationcontrol section.run.wait {
		opacity:0;
		animation-delay:1s;
		animation-duration:0.1s;
		animation-iteration-count:1;
		}
		#content.axs.animationcontrol section.run {
			animation-name:listAnim;
			/*animation-fill-mode:both;*/
			opacity:1;
			}
		#content section a {
			display:block;
			margin:0;
			padding:0;
			min-height:100%;
			color:inherit;
			text-decoration:none;
			font-size:0.9rem;
			}
			#content section a h2 {
				margin:0 0 0.2rem 0;
				padding:0;
				font-size:inherit;
				text-align:center;
				color:#000;
				}
			#content section a img {
				width:100%;
				height:20vw !important;
				object-fit:contain;
				object-position:center;
				}
@media all and (min-width:45em) { /* 45*12px=720px */
	#content {
		gap:1.5rem;
		}
		#content section {
			flex-basis:10rem;
			max-width:10rem;
			min-height:10rem;
			}
			#content section a img {
				height:5rem !important;
				}
	}
@media all and (min-width:100em) { /* 100*16px=1600px */
	#content section {
		padding:1.5rem;
		}
	}
/*2021-01-07*/