/*2022-05-10*/
#edit-files-tree {}
	#edit-files-tree>*>ul {	padding:0 1em 1em 1em;	}
	#edit-files-tree>*>ul li {
		clear:left;
		margin:0;
		padding:0;
		list-style-type:none;
		}
		#edit-files-tree>*>ul li a {
			display:block;
			color:inherit;
			text-decoration:none;
			}
		#edit-files-tree>*>ul li a.ico {
			float:left;
			width:20px;
			}
			#edit-files-tree>*>ul li a.ico img {
				margin:0 4px 0 0;
				vertical-align:middle;
				}
		#edit-files-tree>*>ul li a.name {
			margin:0 0 0 20px;
			word-wrap:break-word;
			}
		
	#edit-files-tree>*>ul  li ul {
		padding:0 0 0 20px;
		}
#edit-files header h1 {
	font-size:inherit;
	}
#edit-files table {
	border-collapse:collapse;
	}
	#edit-files table caption {
		text-align:left;
		}
		#edit-files table caption #del_btn {
			float:right;
			color:#f00;
			}
		#edit-files table thead th {
			font-size:0;
			opacity:0;
			}
	#edit-files table tr.checked {	background:rgb(220,220,220);	}
		#edit-files table th,
		#edit-files table td {
			padding:0.2rem;
			border-bottom:solid 0.2rem #fff;
			}
		#edit-files table td.size,
		#edit-files table td.info,
		#edit-files table td.select,
		#edit-files table td.edit {	text-align:right;	}
#edit-files #fup>label {
	display:block;
	}
	#edit-files #fup fieldset>label span.lbl {
	display:block;
	margin:1rem 0 0 0;
	}
#edit-files #fup input[type="file"] {	width:100%;	}
#edit-files #fup input[type="number"] {	max-width:5.5em;	}
#edit-files #fup span.progress,
	#edit-files #fup span.progress span {	display:block;	}
@media all and (min-width:45em) { /* 45*12px=720px */
	#content.axs-ui-menu-left>div>#edit-files-tree.axs-ui-menu.vertical:not(.closed) {
		flex-basis:20rem;
		min-width:20rem;
		max-width:20rem;
		}
		#edit-files #fup {
			float:right;
			margin:0;
			box-sizing:border-box;
			width:29%;
			}
		#edit-files table {
			float:left;
			width:70%;
			table-layout:fixed;
			white-space:nowrap;
			}
			#edit-files table td {
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				}
			#edit-files table .type {	width:3rem;	}
			#edit-files table .name {	width:calc(95% - 3rem - 6rem - 7rem - 2rem - 5rem);	}
			#edit-files table .size {	width:6rem;	}
			#edit-files table .info {	width:7rem;	}
			#edit-files table .select {	width:2rem;	}
			#edit-files table .edit {	width:5rem;	}
	}
/*2011-06-12*/