/*2022-05-09*/
/*form input[readonly="readonly"] {
	background:rgb(240,240,240);
	}*/
/*.clickable {
	text-decoration:underline;
	cursor:pointer;
	}*/
/*#menu_path {
	float:right;
	max-width:calc(100% - 20rem);
	margin:0 0 0 10px;
	padding:0;
	font-size:12px;
	font-weight:normal;
	}*/
/*#edit_content-menu li {
	background:rgb(235,235,235);
	}
#edit_content-menu li.act {
	border-color:#000;
	background:#fff;
	}
	#edit_content-menu li.act a {
		font-weight:normal;
		color:#000;
		}*/
#content form.form label span.comment {
	display:block;
	color:rgb(128,128,128);
	}

/* ------------ edit-content ------------ */
#content.edit-content.content #menu-left>.sticky {
	padding-top:1rem;
	}
	#content.edit-content.content #menu-left #menu-langs {
		margin:0 0 1rem 0;
		padding:0.5rem 1rem;
		background:rgb(28,28,28);
		color:#fff;
		}
		#content.edit-content.content #menu-left #menu-langs .title {
			background:none;
			color:inherit;
			font-size:inherit;
			font-weight:normal;
			}
			#content.edit-content.content #menu-left #menu-langs .title strong {
				color:rgb(255,126,0);
				font-weight:normal;
				}
		#content.edit-content.content #menu-left #menu-langs ul {
			padding:0.5em 0 0 1.5em;
			}
			#content.edit-content.content #menu-left #menu-langs ul a {	text-decoration:none;	}
			#content.edit-content.content #menu-left #menu-langs ul strong {	font-weight:normal;	}
			#content.edit-content.content #menu-left #menu-langs ul del {	color:rgb(150,150,150);	}
	#content.edit-content.content #menu-left ul.menu li .a {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:flex-start;
		align-items:flex-start;
		align-content:flex-start;
		min-width:100%;
		}
	#content.edit-content.content #menu-left>*>ul.menu>li>.a {
		padding-left:1rem;
		}
	#content.edit-content.content #menu-left ul.menu li:not(.current)>.a {
		padding-top:0.2rem;
		padding-bottom:0.2rem;
		}
		#content.edit-content.content #menu-left ul.menu li .a>* {
			flex-grow:0;
			}
		#content.edit-content.content #menu-left ul.menu li .a::before {	display:none;	}
		#content.edit-content.content #menu-left ul.menu li .a * {
			color:#fff;
			}
		#content.edit-content.content #menu-left ul.menu li.current>.a * {
			color:#000;
			}
		#content.edit-content.content #menu-left ul.menu li.hidden>.a * {
			color:rgb(164,164,164);
			text-decoration:line-through;
			}
		#content.edit-content.content #menu-left ul.menu li.current.hidden>.a * {
			color:rgb(100,100,100);
			}
		#content.edit-content.content #menu-left ul.menu li .a a {
			text-decoration:none;
			}
		#content.edit-content.content #menu-left ul.menu li .a .ico {
			display:inline-block;
			margin:0 0.2rem 0 0;
			width:16px;
			height:16px;
			text-decoration:none;
			}
		#content.edit-content.content #menu-left ul.menu li .a .ico img {
			margin:0;
			border:none;
			width:100%;
			height:100%;
			object-fit:contain;
			}
		#content.edit-content.content #menu-left ul.menu li .a .nr {	color:rgb(150,150,150);	}
		#content.edit-content.content #menu-left ul.menu li.current>.a .nr {	color:rgb(100,100,100);	}
		#content.edit-content.content #menu-left ul.menu li .a .title {
			flex-grow:1;
			}
	#content.edit-content.content #menu-left ul.menu li.toolbar:not(.current) .a {
			padding-top:0;
			padding-bottom:0;
			}
	#content.edit-content.content #menu-left ul.menu li.toolbar .a a,
	#content.edit-content.content #menu-left ul.menu li.toolbar .a span {
		color:rgb(80,80,80);
		font-size:0.8rem;
		}
		#content.edit-content.content #menu-left ul.menu li.toolbar .a span::before {
			content:"-";
			padding:0 0.5rem;
			}
	#content.edit-content.content #menu-left ul.menu li.toolbar .a a:hover {	color:#fff;	}
	#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky ul.menu.current {
		margin-bottom:0.5rem;
		padding-bottom:0.5rem;
		}
	#content.edit-content.content #menu-left ul.menu li ul li>* {	padding-left:2rem;	}
		#content.edit-content.content #menu-left>.sticky>ul.menu li ul li ul {
			margin:0 0 0.5rem 0;
			padding:0;
			}
			#content.edit-content.content #menu-left>.sticky>ul.menu li ul li ul li>* {	padding-left:3rem;	}
				#content.edit-content.content #menu-left>.sticky>ul.menu li ul li ul li ul {
					margin:0 0 0.5rem 0;
					padding:0;
					}
				#content.edit-content.content #menu-left>.sticky>ul.menu li ul li ul li ul li>* {	padding-left:4rem;	}

#content #page-settings #menu_add_link {
	float:left;
	text-decoration:none;
	}
#content #page-settings #menu_add_link.disable {	color:rgb(180,180,180);	}
#content #page-settings #del_link {
	float:right;
	text-decoration:none;
	}
#content #page-settings>div label {
	display:block;
	float:left;
	width:30%;
	}
#content #page-settings>div.left {
	float:left;
	width:60%;
	}
	#content #page-settings>div.left input[type="text"],
	#content #page-settings>div.left select {
		width:68%;
		}
	#content #page-settings>div.left input#nr {	width:auto;	}
#content #page-settings>div.right {
	float:right;
	width:39.5%;
	}
	#content #page-settings>div.right input[type="text"] {
		width:60%;
		}
#content #page-settings #dir_browse_link {
	margin-left:30%;
	}
#content #page-settings div.browse {
	margin-left:30%;
	position:relative;
	margin-bottom:-200px;
	min-width:250px;
	height:200px;
	overflow:auto;
	border:1px solid #AABBCC;
	padding:0 3px 3px 0;
	background:#fff;
	}
#content #page-settings div.browse {
	box-shadow:3px 5px 5px rgb(128,128,128);
	}
	#content #page-settings div.browse a.close {
		float:right;
		text-decoration:none;
		}
	#content #page-settings div.browse img.throbber {
		display:block;
		margin:20px auto;
		}
	#content #page-settings div.browse ul {
		margin:1px 0 1px 15px;
		padding:0;
		}
		#content #page-settings div.browse ul li {	list-style-type:none;	}
		#content #page-settings div.browse ul li img {	border:none;	}
#content #page-settings fieldset#publ {
	clear:both;
	float:left;
	}
#content #page-settings fieldset#hidden {
	float:left;
	}
#content #page-settings fieldset#seo {	clear:left;	}
	#content #page-settings fieldset#seo label {
		display:block;
		float:left;
		clear:left;
		width:150px;
		}

#content #page-settings fieldset#menu-pic {
	float:left;
	width:50%;
	}
	#content #page-settings fieldset#menu-pic label {	display:block;	}
	#content #page-settings fieldset#menu-pic img {
		display:block;
		margin:0;
		}
#content #page-settings #restrict {
	float:right;
	margin-bottom:5px;
	min-width:40%;
	}
	#content #page-settings #restrict table {
		margin:5px 0 0 0;
		border-collapse:collapse;
		}
	#content #page-settings #restrict table,
		#content #page-settings #restrict table caption {
			background:rgb(220,220,220);
			text-align:left;
			}
	#content #page-settings #restrict table,
		#content #page-settings #restrict table th,
		#content #page-settings #restrict table td {
			border:solid 1px rgb(128,128,128);
			}
		#content #page-settings #restrict table th {	background:rgb(200,200,200);	}
		#content #page-settings #restrict table label {	display:block;	}
#content #page-settings #bottom {
	clear:left;
	}
	#content #page-settings #bottom #updated span {	font-weight:bold;	}

/* <edit-form> */
#content #form-editor {
	margin-top:5px;
	}
	#content #form-editor .container.content_form_add {	text-align:right;	}
	#content #form-editor a.edit_element {
		float:right;
		margin:5px 5px 0 0;
		}
	#content #form-editor .element_add {
		clear:both;
		background:rgb(240,240,240);
		font-size:10px;
		}
/* </edit-form> */

/*<edit-tr>*/
#content #edit-tr .element {
	padding-right:3em;
	}
	#content #edit-tr .element input[type="submit"] {
		float:right;
		margin-right:-3em;
		}
#content #edit-tr .element_add {	text-align:right;	}
/*</edit-tr>*/

#content #posts fieldset {
	float:right;
	width:200px;
	}
#content #posts .pages {
	margin:0 215px 0 0;
	}

#content #import label {	display:block;	}
/* ------------ Site settings ------------ */
/*#settings-menu {
	float:left;
	margin:10px 0;
	padding:0;
	width:250px;
	}
#settings-clear {
	margin:10px 0 0 255px;
	}
#settings-form {
	float:left;
	margin:0 0 1rem 0;
	padding:0.5rem;
	box-sizing:border-box;
	width:100%;
	}*/
	#settings-form.langs td.img input[type="file"] {	display:block;	}
	#settings-form.langs td.img img {	border:1px solid #000;	}
	#settings-form.langs td.del {	font-weight:bold;	}
	#settings-form fieldset.open {	background:rgb(185,222,226);	}
	#settings-form #font-family option {	font-size:1.5em;	}
	
	#settings-form.favicon img {	width:16px;	}
	
	#settings-form.media>.element {	margin-bottom:1em;	}
		#settings-form.media #img fieldset>*>.lbl {
			padding-top:1em;
			display:block;
			}
		#settings-form.media input[type="number"] {	max-width:5em;	}
@media all and (min-width:45em) { /* 45*12px=720px */
	#content.edit-content.content>div>.axs-ui-menu.vertical {
		flex-basis:16rem;
		min-width:16rem;
		max-width:16rem;
		}
	}
@media all and (min-width:75em) { /* 100*16px=1200px */
	#content.edit-content.content>div>.axs-ui-menu.vertical {
		flex-basis:18rem;
		min-width:18rem;
		max-width:18rem;
		}
	@media all and (min-width:100em) { /* 100*16px=1600px */
	#content.edit-content.content>div>.axs-ui-menu.vertical {
		flex-basis:20rem;
		min-width:20rem;
		max-width:20rem;
		}
	}
/*2009-12-31*/