/*2021-01-07*/
#content .menu {
	margin-bottom:5px;
	}
	#content .menu li.act {
		background:#fff;
		}
#content form.search {
	margin-bottom:5px;
	}
#content table#users tr.status1 td {	color:rgb(0,180,0);	}
#content table#users td.homedirs ul {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
	}
#content table#users td.online {	white-space:nowrap;	}
#content form#groups,
#content form#roles {
	display:inline-block;
	margin:0 5px 5px 0;
	}
/*2021-01-07*/