/*2019-03-25*/
form.edit #rows td.price input[type="number"] {	width:4rem;	}
form.edit #rows td.sum input[type="number"] {	width:5rem;	}
form.edit #rows td.amount input[type="number"],
form.edit #rows td.vat input[type="number"] {	width:3rem;	}
fieldset#calcPerc {
	position:absolute;
	background:rgb(200,200,200);
	cursor:auto;
	}
	fieldset#calcPerc legend a,
		fieldset#calcPerc legend a abbr {	text-decoration:none;	font-weight:bold;	color:inherit;	}
	form.edit #rows td fieldset#calcPerc input[type="number"].perc {	width:3rem;	}
	fieldset#calcPerc input.result {
		min-width:5rem;
		cursor:copy;
		}
/*2019-03-25*/