		<tr>
			<td class="col1">{$nr}</td>
			<td class="col3">{$img_html}{$text}</td>
			<td nowrap="nowrap" class="col4">{$amount.fmt}{$amount_unit.txt}</td>
			<td nowrap="nowrap" class="col5">{$price.fmt}</td>
			<td nowrap="nowrap" class="col6">{$vat.fmt}</td>
			<td nowrap="nowrap" class="col7">{$sum.fmt}</td>
		</tr>
