/*2022-05-09*/
/*<General styles>*/
form fieldset.add  button {	white-space:nowrap;	}
form fieldset.add .folder[type="submit"]:disabled,
form fieldset.add  label.batch.disabled {	display:none;	}
form table.table ._edit {	text-align:right;	}
	form table.table ._edit fieldset.add {
		display:inline-block;
		margin:0;
		border:none;
		padding:0;
		}
		form table.table ._edit fieldset.add legend {	display:none;	}
/*</General styles>*/

/*<Main content layout>*/
.axs.menu .toggle-switch.arrow.down::after {
	display:inline-block;
	vertical-align:middle;
	margin:0.2em 0 0 0.5em;
	width:0;
	height:0;
	border:solid 0.35rem transparent;
	border-top-color:#fff;
	transition:transform 1s;
	content:"";
	}
.axs.menu.open .toggle-switch.arrow.down::after {	transform:rotate(180deg);	}
#content.axs-ui-menu-left {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:stretch;
	align-content:stretch;
	padding:0;
	max-width:100vw;
	/*overflow:auto;*/
	}
	#content.axs-ui-menu-left>.axs-ui-menu.tabs {
		flex-grow:0;
		box-sizing:border-box;
		margin:0 0 0.4rem 0;
		background:rgb(150,150,150);
		padding:1.4rem 0 0 0;
		width:100%;
		}
		#content.axs-ui-menu-left>.axs-ui-menu.tabs>ul.tools {	padding-right:0.5rem;	}
		html #content.axs-ui-menu-left>.axs-ui-menu.tabs>ul.menu>li.current>.a {
			background:rgb(215,215,215);
			color:rgb(64,64,64);
			}
	#content.axs-ui-menu-left>div {}
		#content.axs-ui-menu-left>div>.axs-ui-menu.vertical {
			background:#000;
			color:#fff;
			}
		#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed {}
			#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>*.sticky {
				margin:0;
				padding:0;
				background:none;
				}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu {
					margin:0 0 0.5rem 0;
					padding:0;
					}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky ul.menu.current {	background:rgb(28,28,28);	}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li {
						list-style:none;
						margin:0;
						padding:0;
						}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li .a {
							display:block;
							box-sizing:border-box;
							padding:0.7rem 0.3rem 0.7rem 2.5rem;
							color:inherit;
							text-decoration:none;
							}
							#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu>li>.a::before {
								float:left;
								display:inline-block;
								margin:0.3em 0 0 -1.2em;
								border:solid transparent;
								border-left-color:#fff;
								border-width:0.3em 0.4em;
								content:"";
								width:0;
								height:0;
								}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li.current>.a {
							color:#000;
							background:#fff;
							}
							#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu>li.current>.a::before {
								border-left-color:#000;
								}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu.current>li.submenu>.a::before {
							margin-top:0.5em;
							transform:rotate(90deg);
							}
							#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li.current>.a em,
							#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li.current>.a strong {
								color:inherit;
								font-weight:normal;
								font-style:normal;
								}
								#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li ul {
									margin:0;
									padding:0;
									font-size:0.9rem;
									}
									#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li ul li .a {
										color:rgb(255,126,0);
										}
									#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li ul li:not(.current)>.a {
										padding-top:0.3rem;
										padding-bottom:0.3rem;
										}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title {
					margin:0;
					padding:0;
					}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title a {
						display:block;
						font-size:0;
						padding:0.5rem 1rem;
						text-align:right;
						}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed h2.title a {
						background:radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%), radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%), radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%);
						background-position:0.5rem 0.3rem, 0.5rem 0.8rem, 0.5rem 1.3rem;
						background-repeat:no-repeat;
						background-size:0.4rem 0.4rem;
						}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title a::before {
							content:"";
							display:inline-block;
							width:0;
							height:0;
							border:solid transparent;
							border-right-color:#fff;
							border-width:0.5rem 0.6rem 0.5rem 0;
							filter:drop-shadow(-0px 1px 2px #000);
							transition:transform 0.8s 0.5s;
							transform:rotate(-90deg);
							}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed h2.title a::before {	transform:rotate(0deg);	}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle>*>*:not(.title) {
					opacity:1;
					max-height:1000vh;
					transition:opacity 0.2s 0.7s, max-height 2s;
					}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed>*>*:not(.title) {
					opacity:0;
					max-height:0;
					transition:opacity 0.2s, max-height 2s;
					overflow:hidden;
					}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle>*>*:not(.title) .a {	padding-right:1rem;	}
	#content>div>.axs-ui-content {
		padding:0.5rem;
		/*This element is of display:flex-item, but also acts as a flex container to it's children!*/
		}
	#content .axs-ui-menu.tabs::after {
		clear:both;
		display:table;
		content:"";
		}
		#content .axs-ui-menu.tabs>ul {
			margin:0;
			padding:0;
			list-style:none;
			}
			#content .axs-ui-menu.tabs>ul>li {
				display:inline-block;
				padding:0;
				}
				#content .axs-ui-menu.tabs>ul>li .a {
					display:block;
					text-decoration:none;
					}
				#content .axs-ui-menu.tabs>ul>li .a {	padding:0.2rem 0.5rem;	}
				#content .axs-ui-menu.tabs>ul.menu>li._disabled>.a {	color:rgb(200,200,200);	}
		#content .axs-ui-menu.tabs>ul.tools {	text-align:right;	}
			#content .axs-ui-menu.tabs>ul.tools>li {
				margin:0 0 0 0.5rem;
				}
				#content .axs-ui-menu.tabs>ul.tools>li .a {
					padding-left:0;
					padding-right:0;
					color:#fff;
					}
		#content .axs-ui-menu.tabs>ul.menu {}
			#content .axs-ui-menu.tabs>ul.menu>li {
				margin:0 0.2rem 0 0;
				background:rgb(118,118,118);
				}
				#content .axs-ui-menu.tabs>ul.menu>li .a {
					color:#fff;
					}
			#content .axs-ui-menu.tabs>ul.menu>li.current {}
				#content .axs-ui-menu.tabs>ul.menu>li.current>.a {
					background:#fff;
					color:rgb(64,64,64);
					}
					#content .axs-ui-menu.tabs>ul li.current .a em {	font-style:normal;	}
#content>div>.axs-ui-content>.tab  {}
#content .tab {
	padding:0.5rem 0 0 0;
	min-height:10vh;
	background:#fff;
	}
	#content.axs-ui-menu-left .tab {	padding:0.5rem;	}
	padding:0.5rem;
	#content .tab a:link {
		color:rgb(80,80,90);
		}
	#content .tab a:visited {
		color:rgb(118,118,118);
		}
/*</Main content layout>*/

@media all and (min-width:45em) { /* 45*12px=720px */
	/*<Main content layout>*/
	#content.axs-ui-menu-left {}
		#content.axs-ui-menu-left>.axs-ui-menu.tabs {
			padding:1.4rem 1.5rem 0 0;
			}
			#content.axs-ui-menu-left>.axs-ui-menu.tabs>ul.tools {	padding-right:0;	}
			html #content.axs-ui-menu-left>.axs-ui-menu.tabs>ul.menu>li.current>.a {}
		#content.axs-ui-menu-left>div {
			display:flex;
			flex-direction:row;
			flex-grow:1;
			flex-wrap:nowrap;
			justify-content:flex-start;
			align-items:stretch;
			align-content:stretch;
			}
		#content.axs-ui-menu-left>div>.axs-ui-menu.vertical {
			flex-grow:0;
			flex-basis:13rem;
			min-width:13rem;
			max-width:13rem;
			transition-property:flex-basis, min-width, max-width;
			transition-delay:0.2s;
			transition-duration:0.5s;
			}
		#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed {
			flex-basis:1rem;
			min-width:1rem;
			max-width:1rem;
			}
			#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky {
				position:sticky;
				top:0;
				padding-top:4rem;
				}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu {	/*margin-right:1.5rem;*/	}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical>.sticky>ul.menu li.current>.a {
							margin-right:-1.5rem;
							}
				#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title {
					float:right;
					margin-left:-1.2rem;
					}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title a {	padding:20vh 0.3rem;	}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed h2.title a {
						background:radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%), radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%), radial-gradient(circle at center, #fff 0%, #fff 50%, #000 50%);
						background-position:center 0, center 0.5rem, center 1rem;
						background-repeat:no-repeat;
						background-size:0.4rem 0.4rem;
						}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle h2.title a::before {
							content:"";
							display:inline-block;
							width:0;
							height:0;
							border:solid transparent;
							border-right-color:#fff;
							border-width:0.5rem 0.6rem 0.5rem 0;
							filter:drop-shadow(-0px 1px 2px #000);
							transition:transform 0.8s 0.5s;
							transform:none;
							}
						#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle.closed h2.title a::before {	transform:scaleX(-1);	}
					#content.axs-ui-menu-left>div>.axs-ui-menu.vertical.toggle>*>ul .a {
						padding-right:1rem;
						}
	#content>div>.axs-ui-content {
		flex-grow:1;
		padding:0.5rem 1.5rem 1.5rem 1.5rem;
		/*This element is of display:flex-item, but also acts as a flex container to it's children!*/
		display:flex;
		flex-direction:column;
		flex-wrap:nowrap;
		justify-content:flex-start;
		align-items:stretch;
		align-content:stretch;
		box-sizing:border-box;
		width:100%;
		}
					#content .axs-ui-menu.tabs>ul>li .a {
						padding:0.2rem 1rem;
						}
			#content .axs-ui-menu.tabs>ul.tools {	float:right;	}
	#content>div>.axs-ui-content>.tab  {	flex-grow:1;	}
	#content .tab {	padding:0.5rem 0 0 0;	}
	#content.axs-ui-menu-left .tab {	padding:0.5rem 1rem 1rem 1rem;	}
	/*</Main content layout>*/
	}
/*<Data styles>*/
form.list {	padding:0;	}
/*caption.title, h1.title, /*h2.title,* / h3.title, span.title {
	margin:0;
	padding:0;
	font-style:italic;
	font-size:1em;
	}*/
.pager {
	padding:1rem;
	color:#000;
	}
	.pager .found .prev-next a {
		margin:0 0.5rem;
		color:inherit;
		text-decoration:none;
		}
	.pager .pages>* {
		display:inline-block;
		padding:0.7rem 0.2rem;
		min-width:2.2rem;
		background:#fff;
		color:inherit;
		text-align:center;
		text-decoration:none;
		}
		.pager .pages a.current,
		#content .pager .pages a.current {
			background:rgb(255,126,0);
			color:#fff;
			}
			.pager .pages .current strong {	font-weight:normal;	}
table.table {
	border:1px solid rgb(245,245,245);
	border-collapse:collapse;
	/*border-spacing:1px;*/
	background:rgb(245,245,245);
	empty-cells:show;
	}
	table.table caption {
		padding:0 1px;
		background:rgb(235,235,235);
		text-align:left;
		}
	table.table.selectable tr:hover>td {
		background:rgb(211,231,255);
		}
	table.table th {
		border:1px solid rgb(245,245,245);
		background:rgb(220,220,220);
		}
	table.table .top {		vertical-align:top;	}
	table.table .middle {		vertical-align:middle;	}
	table.table .bottom {		vertical-align:bottom;	}
	table.table th.left {	text-align:left;	}
	table.table th.right {	text-align:right;	}
	table.table td {
		border:1px solid rgb(245,245,245);
		background:#fff;
		}
	table.table td.number {	text-align:right;	}
	table.table tr._disabled th,
	table.table tr._disabled td,
	table.table th._disabled,
	table.table td._disabled,
	li._disabled {
		color:rgb(164,164,164);
		}

	/*<Data list item>*/
.item input[name="_delete"] {	color:#f00;	}
table.table_data {
	background:#fff;
	background:rgb(208,236,253);
	empty-cells:show;
	}
	table.table_data.inactive {
		color:rgb(128,128,128);
		}
	table.table_data caption {
		margin:0px;
		padding:0px;
		background:rgb(245,245,245);
		background:rgb(208,236,253);
		text-align:left;
		}
		table.table_data caption em {
			font-weight:bold;
			}
		table.table_data caption .left {
			float:left;
			margin-right:5px;
			}
		table.table_data caption .right {
			float:right;
			margin-right:5px;
			}
	table.table_data th {
		background:rgb(245,245,245);
		background:rgb(198,226,243);
		}
	table.table_data.vertical>*>tr>th {
		width:200px;
		text-align:left;
		}
	table.table_data th,
	table.table_data td {
		vertical-align:top;
		}

.list .item .updated_by {
	font-weight:bold;
	}
/*</Data styles>*/

/* <Documentation styles> */
.toolbar {
	margin:0;
	padding:0;
	}
.toolbar.right {
	float:right;
	}
.doc a {
	color:#0080D5;
	}
.doc dl {
	padding:0px 5px;
	}
.doc h1 {
	clear:both;
	background:#ECF8FF url(gfx/content_h1_bg.png) no-repeat 5px 5px; /*#F0F0F0*/
	padding:0px 20px;
	color:#0080D5;
	font-family:"Courier New", Courier, monospace;
	font-size:16px;
	}
.doc p {
	padding:0px 5px;
	text-align:justify;
	}
.doc p.top {	float:right;	}
.doc p.ver {	text-align:right;	}
.doc ul.contents {
	margin:5px 0px;
	padding-left:50px;
	font-family:"Courier New", Courier, monospace;
	}
	.doc ul.contents li {
		list-style:none;
		}
	.doc ul.contents>li {
		list-style:none;
		padding-left:20px;
		background:url(gfx/nupp.gif) no-repeat 0px 4px;
		}
	.doc ul.contents li a {
		text-decoration:none;
		}
	.doc ul.contents li a:hover {
		text-decoration:underline;
		}
	.doc ul.contents li a em {
		font-style:normal;
		font-weight:bold;
		}
/* </Documentation styles> */
/*2009-12-31*/