/*2021-05-31*/
@charset "UTF-8";

/*<Generic element styles>*/
html {
	margin:0;
	padding:0;
	min-height:100.20%;
	background:#000;
	color:#fff;
	font-size:12px;
	}
body {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:flex-start;
	/*align-items:stretch;
	align-content:stretch;*/
	margin:0;
	padding:0;
	min-height:100.1vh;
	background:rgb(215,215,215);
	font-family:"Arial", "Helvetica", sans-serif;
	font-size:inherit;
	}
	body>* {
		flex-grow:0;
		}
a {	color:rgb(255,126,0);	}
a:link {}
a:focus, a:active {}
/*a:hover, a:visited {	color:rgb(128,128,128);	}*/
address {}
blockquote {
	border:1px solid rgb(128,128,128);
	padding:0 1em;
	background:rgb(240,240,240);
	font-style:italic;
	}
	blockquote::before {	content:open-quote;	}
	blockquote::after {	content:close-quote;	}
dl {
	margin:0 0 1rem 0;
	padding:0;
	}
	dl dt {
		font-weight:bold;
		}
/*figure {
	display:inline-table;
	box-sizing:border-box;
	margin:0;
	padding:0;
	max-width:100%;
	}
	figure figcaption {
		display:table-caption;
		caption-side:bottom;
		box-sizing:border-box;
		width:100%;
		}*/
form {
	padding:1rem;
	background:#fff;
	}
	form>.element {
		margin:0 0 1rem 0;
		}
		form>.element::after {
			content:"";
			display:table;
			clear:both;
			}
	form fieldset {
		border:solid 1px rgb(157,157,157);
		margin-bottom:1rem;
		}
		form fieldset legend {
			padding:0.1rem 1rem;
			background:rgb(157,157,157);
			color:#fff;
			}
	/*form.post_ok div, form.post_ok fieldset {	display:none;	}*/
	/*label {	display:block;	}*/
	input, select, textarea {
		box-sizing:border-box;
		max-width:100%;
		}
	input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="search"], input[type="url"], select, textarea {
		border:solid 1px rgb(157,157,157);
		padding:0.5rem;
		}
	input[type="checkbox"] {	margin:0.5rem;	}
	input[type="file"] {	padding:0.5rem;	}
	input[type="button"], input[type="reset"], input[type="submit"] {
		border:solid 1px rgb(255,126,0);
		padding:0.5rem 1rem;
		background:rgb(255,126,0);
		color:#fff;
		}
	input[readonly="readonly"] {	background:rgb(240,240,240);	}
	select {}
	textarea {}
	label .comment {
		display:block;
		color:rgb(128,128,128);
		font-weight:normal;
		}
	form span.captcha {
		display:block;
		width:100px;
		border:solid 1px;
		}
		form span.captcha img {
			margin:0;
			border:none;
			vertical-align:text-top;
			}
	form .input_required {
		color:#f00;
		font-style:normal;
		}
		form .input_required abbr {	border:none;	}
h1, h2, h3, h4, h5, h6 {
	margin:0 0 1em 0;
	}
/*h1 {	font-size:1.5em;	}
h2 {	font-size:1.15em;	}
h3 {	font-size:1.15em;	}
h4 {	font-size:1.15em;	}
h5 {	font-size:1.15em;	}
h6 {	font-size:1.15em;	}*/
img {
	max-width:100%;
	height:auto !important;
	}
	/*img[style*="float: left"],
	img[style*="float:left"]	{	clear:right;	margin:0 2em 2em 0;	}
	img[style*="float: right"],
	img[style*="float:right"]	{	clear:left;	margin:0 0 2em 2em;	}*/
/*iframe {
	border:none;
	/*max-width:100%; May cause problems with widgets*/
	/*}*/
main {	display:block;	}
object {     max-width: 100%;	}
p {	margin:0 0 1em 0;	}
pre {
	padding:0.5em;
	background:#000;
	color:#fff;
	white-space:pre-wrap;
	}
/*table {
	border:1px solid;
	border-spacing:0;
	border-collapse:collapse;
	}
	table th {
		background:rgb(230,230,230);
		}
	table th[scope="row"] {	text-align:left;	}
	table th,
	table td {
		border:1px solid;
		}*/
ul li {}
/*</Generic element styles>*/

/*<Class-based styles common to all sections>*/
div.msg, p.msg, ul.msg {
	/*background:rgb(255,230,240) url(gfx/ui.msg.png) 30px 3px no-repeat;*/
	}
form.axs.login {
	margin:0 auto;
	max-width:25rem;
	}
	form.axs.login label {	display:block;	}
	form.axs.login input[type="text"],
	form.axs.login input[type="password"] {
		display:block;
		padding:0.5rem;
		width:100%;
		}
/*</Class-based styles common to all sections>*/

/*<Styles for specific elements>*/
body>* {
	padding-left:0.5rem;
	padding-right:0.5rem;
	}
#axs_cms_header {
	position:sticky;
	z-index:10000;
	top:0;
	left:0;
	right:0;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:flex-start;
	padding:0;
	background:#000;
	color:#fff;
	}
	#axs_cms_header>* {
		/*outline:dotted 1px #fff;*/
		min-height:2.8rem;
		}
		#axs_cms_header a {
			color:inherit;
			text-decoration:none;
			}
		#axs_cms_header nav.menu>ul>li {	list-style-type:none;	}
		#axs_cms_header nav.menu ul li.open,
		#axs_cms_header nav.menu ul li.current,
		html.edit-user #axs_cms_header #axs_user {
			background:rgb(28,28,28);
			}
			#axs_cms_header nav.menu ul ul li.current>a {	background:#000;/*color:rgb(255,126,0);*/	}
			#axs_cms_header nav.menu ul li.open>a em,
			#axs_cms_header nav.menu ul li.current>a em {	font-style:normal;	}
		#axs_cms_header>.logo {
			align-self:flex-start;
			flex-basis:2.8rem;
			flex-grow:0;
			flex-shrink:0;
			padding:0;
			}
			#axs_cms_header>.logo img {
				margin:0.4rem;
				vertical-align:middle;
				width:2rem;
				}
		/*<Logo animation>*/
		@keyframes logo {	0% {	opacity:0;	}	100% {	opacity:1;	}}
		.axs_animationcontrol #axs_cms_header>.logo img {
			animation-name:logo;
			animation-fill-mode:both;
			animation-duration:3s;
			animation-delay:5s;
			animation-iteration-count:1;
			animation-play-state:paused;
			}
		.axs_animationcontrol #axs_cms_header>.logo.anim.run img {	animation-play-state:running;	}
			#axs_cms_header>.logo span {
				display:block;
				position:absolute;
				width:0.6rem;
				height:0.6rem;
				background:#fff;
				transform:translate(0rem,1rem);
				opacity:0;
				}
			@keyframes logo-loader {	0% {	opacity:0;	}	5%,15% {	opacity:1;	}	80%,100% {	opacity:0;	}}
			.axs_animationcontrol #axs_cms_header>.logo span {
				animation-name:logo-loader;
				animation-fill-mode:both;
				animation-duration:1.4s;
				animation-iteration-count:infinite;
				}
			.axs_animationcontrol #axs_cms_header>.logo span:nth-child(2) {
				transform:translate(1rem,1rem);
				animation-delay:0.3s;
				}
			.axs_animationcontrol #axs_cms_header>.logo span:nth-child(3) {
				transform:translate(2rem,1rem);
				animation-delay:0.6s;
				}
			.axs_animationcontrol #axs_cms_header>.logo.anim.run span {	animation-iteration-count:3;	}
		/*</Logo animation>*/
	#axs_cms_menu {
		order:9;
		flex-basis:2.8rem;
		flex-grow:0;
		flex-shrink:0;
		background:inherit;
		}
		#axs_cms_menu>.title {
			background:inherit;
			color:inherit;
			font-size:1rem;
			}
			#axs_cms_menu>.title>a.toggle-switch {
				color:inherit;
				}
		#axs_cms_menu>ul {
			left:0;
			width:100%;
			background:inherit;
			}
	#axs_cms_header>.site_link {	display:none;	}
	#axs_user {
		flex-grow:1;
		overflow-wrap:break-word;
		position:relative;
		background:inherit;
		}
		#axs_user h2 {
			text-align:right;
			margin:0;
			padding:0;
			min-height:inherit;
			background:inherit;
			color:inherit;
			font-size:inherit;
			font-weight:normal;
			}
			#axs_user h2 .toggle-switch {
				vertical-align:middle;
				min-height:inherit;
				text-align:left;
				font-size:0.8rem;
				}
				#axs_user h2 .toggle-switch>.avatar {
					vertical-align:middle;
					margin:0.4rem;
					width:2rem;
					}
				#axs_user h2 .toggle-switch>span {
					display:inline-block;
					vertical-align:middle;
					}
					#axs_user h2 .toggle-switch>span>* {	display:block;	}
					#axs_user h2 .toggle-switch>span>.name {	color:rgb(255,126,0);	}
				#axs_user h2 .toggle-switch::after {
					display:inline-block;
					vertical-align:middle;
					margin:0.1rem 0.5rem;
					width:0;
					height:0;
					border:solid 0.3rem transparent;
					border-top-color:#fff;
					transition:transform 1s;
					content:"";
					}
				#axs_user.open h2 .toggle-switch::after {	transform:rotate(180deg);	}
		#axs_user>ul {
			z-index:10001;
			right:0;
			background:inherit;
			}
			#axs_user>ul li a {
				padding-left:2rem;
				padding-right:2rem;
				}
#breadcrumb {
	padding:0.8rem 0;
	background:#fff;
	font-size:0.9rem;
	}
	#breadcrumb a {
		color:rgb(50,50,50);
		text-decoration:none;
		}
		#breadcrumb a em {	font-style:normal;	}
	#breadcrumb ul,
	#breadcrumb li {	background:inherit;	}
	#breadcrumb>ul {
		margin:0;
		padding:0;
		}
		#breadcrumb>ul>li {
			z-index:9999;
			display:inline-block;
			vertical-align:top;
			}
			#breadcrumb>ul>li>a {
				display:inline-block;
				padding:0 0 0 0.5rem;
				}
			#breadcrumb>ul>li>a::after {
				content:"";
				display:inline-block;
				vertical-align:top;
				margin:0.3rem 0 0 0.5rem;
				border:solid transparent;
				border-width:0.3rem 0 0.3rem 0.4rem;
				border-left-color:rgb(50,50,50);
				width:0;
				height:0;
				}
			#breadcrumb>ul>li:last-child>a::after {	display:none;	}
			#breadcrumb ul li.submenu>a::after {
				display:inline-block;
				margin:0.4rem 0 0 0.2rem;
				transform:rotate(90deg);
				}
				#breadcrumb>ul>li>ul {
					margin:0 0 0 -0.5rem;
					padding:0;
					}
					#breadcrumb>ul>li li {	list-style-type:none;	}
						#breadcrumb>ul>li li a {	padding:0.5rem 1rem;	}
						#breadcrumb>ul>li li a em {	color:rgb(180,180,180);	}
#content {
	flex-grow:2;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
	/*min-height:calc(100vh - 2.8rem - 3rem - 3rem);*/
	color:#000;
	}
#axs_cms_footer {
	padding-top:0.5rem;
	background:#000;
	color:#fff;
	font-size:0.8rem;
	}
	#axs_cms_footer .ver a {
		float:right;
		color:rgb(255,126,0);
		text-decoration:none;
		}
	#axs_cms_footer .benchmark {
		clear:both;
		min-height:1em;
		color:rgb(20,20,20);
		}
/*<Device-specific styles>*/
@media all and (min-width:45em) { /* 45*12px=720px */
	#axs_media::before {	content:"screen";	}
	#axs_cms_header,
	body>* {
		padding-left:1.5rem;
		padding-right:1.5rem;
		}
	#axs_cms_header>.logo img {
		margin:0.5rem 0.5rem 0.5rem 0;
		width:1.8rem;
		}
	#axs_cms_header>.logo span {
		width:0.8rem;
		height:0.8rem;
		transform:translate(-0.6rem,1rem);
		}
	.axs_animationcontrol #axs_cms_header>.logo span:nth-child(2) {	transform:translate(0.5rem,1rem);	}
	.axs_animationcontrol #axs_cms_header>.logo span:nth-child(3) {	transform:translate(1.6rem,1rem);	}
	#axs_cms_menu {
		order:0;
		flex-basis:auto;
		flex-grow:2;
		flex-shrink:1;
		padding-left:1rem;
		}
		#axs_cms_menu>.title {
			position:absolute;
			left:-999rem;
			top:-999rem;
			}
		#axs_cms_menu>ul {
			margin:0;
			padding:0;
			min-height:inherit;
			background:inherit;
			}
			#axs_cms_menu>ul>li {
				margin:0;
				padding:0;
				min-height:inherit;
				background:inherit;
				}
				#axs_cms_menu>ul>li>a {
					display:block;
					box-sizing:border-box;
					padding:0.8rem 1rem;
					min-height:inherit;
					}
					#axs_cms_menu>ul>li ul {
						background:inherit;
						}
						#axs_cms_menu>ul>li ul li {
							list-style-type:none;
							}
							#axs_cms_menu>ul>li ul li a {
								display:block;
								padding:0.8rem 1rem;
								}
	#axs_cms_header>.site_link {
		display:initial;
		flex-grow:0;
		text-align:right;
		overflow-wrap:break-word;
		font-size:0.8rem;
		}
		#axs_cms_header>.site_link a {
			display:block;
			box-sizing:border-box;
			padding:0.8rem 1rem 0 0;
			min-height:inherit;
			color:rgb(255,126,0);
			}
		#axs_user {
			flex-grow:0;
			flex-shrink:0;
			}
	#breadcrumb {
		padding-left:0.5rem;
		}
	#axs_cms_footer {
		padding-top:1rem;
		}
	}
@media all and (min-width:75em) { /* 75*16px=1200px */
	html {	font-size:13px;	}
	}
@media all and (min-width:100em) { /* 100*16px=1600px */
	html {	font-size:16px;	}
	}
/*2005*/