html {
	margin:0;
	padding:0;
	min-height:100.20%;
	}
body {
	margin:0;
	padding:0;
	min-height:100.20%;
	background:#fff;
	text-align:left;
	}
img {
	width:100%;
	height:auto;
	vertical-align:middle;
	}