/*2019-04-22*/
.axs_slider .list>*.effect.pan {	overflow:hidden;	}
	.axs_slider .list>*.effect.pan .effect {	transform:scale(1.2) translateX(1.5%);	}
	.axs_slider .list>*.prev.effect.pan .effect,
	.axs_slider .list>*.current.effect.pan .effect {	animation:axs-slider-effect-pan linear;	}
@keyframes axs-slider-effect-pan {
	0% {	transform:scale(1.2) translateX(1.5%);	}
	100% {	transform:scale(1.2) translateX(-1.5%); }
	}

.axs_slider .list>*.effect.pan-zoom {	overflow:hidden;	}
	.axs_slider .list>*.effect.pan-zoom .effect {	transform:scale(1.04) translate(-1.5%, 1%);	}
	.axs_slider .list>*.prev.effect.pan-zoom .effect,
	.axs_slider .list>*.current.effect.pan-zoom .effect {	animation:axs-slider-effect-pan-zoom linear;	}
@keyframes axs-slider-effect-pan-zoom {
	0% {	transform:scale(1) translate(0, 0);	}
	100% {	transform:scale(1.04) translate(-1.5%, 1%); }
	}
.axs_slider .list>*.effect.zoom {	overflow:hidden;	}
	.axs_slider .list>*.effect.zoom .effect {	transform:scale(1.1);	}
	.axs_slider .list>*.prev.effect.zoom .effect,
	.axs_slider .list>*.current.effect.zoom .effect {	animation:axs-slider-effect-zoom linear;	}
@keyframes axs-slider-effect-zoom {
	0% {	transform:scale(1);	}
	100% {	transform:scale(1.1); }
	}
/*2019-04-22*/