/*09.03.2013*/
.edit-tab {
	width:100%;
	border-spacing:0;
	}
.edit-tab>caption {
	background:#F0F0F0;
	}
.edit-tab>tbody>tr>th,
.edit-tab>tbody>tr>td {
	vertical-align:top;
	}
.edit-tab>tbody>tr>th {
	padding:0;
	background:#F0F0F0;
	text-align:left;
	}
/* <Row toolbar> */
.edit-tab>tbody>tr>th>form,
.edit-tab>tbody>tr>th>form>fieldset {
	margin:0;
	padding:0;
	border:none;
	}
.edit-tab>tbody>tr>th>form>fieldset a.top {	float:right;	}
.edit-tab>tbody>tr>th>form>fieldset>a.top,
.edit-tab>tbody>tr>th>form>fieldset>.status,
.edit-tab>tbody>tr>th>form>fieldset>label {
	font-weight:normal;
	}
.edit-tab>tbody>tr>th>form>fieldset input[type="submit"] {
	margin:0;
	padding:0;
	border:none;
	background:none;
	color:#000;
	}
.edit-tab>tbody>tr.locked>th>form>fieldset label,
.edit-tab>tbody>tr.locked>th>form>fieldset input[disabled="disabled"] {
	color:rgb(200,200,200);
	}
/* </Row toolbar> */
.edit-tab>tbody>tr.hidden>td,
.edit-tab>tbody>tr.hidden>td * {
	color:#A0A0A0;
	background:rgb(245,245,245);
	}
.edit-tab>tbody>tr>th .disabled {
	color:rgb(200,200,200);
	}
.edit-tab>tbody>tr.tools.cell th {
	border-top:none;
	border-bottom:none;
	color:#000;
	font-weight:normal;
	font-size:9px;
	}
	.edit-tab>tbody>tr.tools.cell th a {
		color:#000;
		text-decoration:none;
		}
.edit-tab>tbody>tr>td {
	border-top:none;
	background:#fff;
	}
	.edit-tab>tbody>tr>td .comment {
		color: #A0A0A0;
		font-weight:bold;
		}
/* <Editors> --------------------------------------------------- */
.edit-tab .clickable {
	text-decoration:underline;
	cursor:pointer;
	}
.edit-tab form#edit_tab_form {
	margin:0;
	padding:0.5rem;
	background:#F0F0F0;
	}
	.edit-tab form#edit_tab_form fieldset {
		margin:0.5% 0;
		padding:0.5%;
		}
		.edit-tab form#edit_tab_form fieldset legend {
			font-weight:bold;
			}
	.edit-tab form#edit_tab_form label {
		display:inline;
		}
	.edit-tab form#edit_tab_form textarea {
		width:100%;
		height:300px;
		}
	.edit-tab form#edit_tab_form input[readonly="readonly"] {	background:rgb(240,240,240);	}
	/* <Editor header> */
	.edit-tab form#edit_tab_form #form_head {
		text-align:right;
		}
		.edit-tab form#edit_tab_form #form_head .msg {
			margin:0 0 0.5rem 0;
			text-align:left;
			}
		.edit-tab form#edit_tab_form #form_head #row_close {
			float:left;
			padding:5px 3px 0 0;
			font-weight:bold;
			}
		.edit-tab form#edit_tab_form #form_head fieldset {
			display:inline;
			margin:0 0 -5px 0;
			padding:0;
			border:none;
			}
		.edit-tab form#edit_tab_form #form_head input[type="date"] {	max-width:6em;	}
			.edit-tab form#edit_tab_form #form_head input[type="number"] {	max-width:3em;	}
	/* </Editor header> */
	.edit-tab form>div.content {
		clear:both;
		}
	/* <Row editor> */
	.edit-tab form>div>table.row_edit {
		margin:0;
		border:none;
		padding:0;
		width:100%;
		}
		.edit-tab form>div>table.row_edit>thead>tr>th {
			text-align:left;
			}
	/* </Row editor> */
	/* <Single cell editor> */
	.edit-tab form>div.content>label {
		display:none;
		}
	/* </Single cell editor> */
	/* <file&media editor> */
	.edit-tab form #media_choose {
		float:left;
		margin-right:0;
		width:22%;
		}
	.edit-tab form #media_settings {
		float:right;
		margin-left:0;
		width:74%;
		}
		.edit-tab form #media_settings fieldset {}
		.edit-tab form #media_settings fieldset.no-border {	border-color:transparent;	}
			.edit-tab form #media_settings fieldset.row label  {
				display:inline-block;
				width:13rem;
				}
			.edit-tab form #media_settings fieldset.row input {
				box-sizing:border-box;
				width:calc(100% - 13rem);
				}
			.edit-tab form #media_settings fieldset.img_proc legend {	color:rgb(50,50,50);	}
			.edit-tab form #media_settings fieldset.img_proc>label {	display:block;	}
			.edit-tab form #media_settings fieldset.img_proc div.size  {	padding-left:13rem;	}
			.edit-tab form #media_settings fieldset.img_proc>div .lbl,
			.edit-tab form #media_settings fieldset.img_proc>label .lbl {
				display:inline-block;
				width:13rem;
				}
			.edit-tab form #media_settings fieldset.img_proc input[type="number"]  {	max-width:5em;	}
	/* </file&media editor> */
	.edit-tab form #save_container {
		clear:both;
		}
		.edit-tab form #save_container input[type="number"] {	max-width:4em;	}
/*04.12.2009*/