/*23.10.2011*/
/*form.axs_calendar * {	outline:1px dotted;	}*/
form.axs_calendar {
	padding:2px 5px 3px 5px;
	min-height:395px;
	background:#fff no-repeat 0 0;
	color:#000;
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:none;
	}
form.axs_calendar.compact {
	min-height:10px;
	}
.axs_calendar a {
	color:#000;
	text-decoration:underline;
	}
.axs_calendar.spring {
	background-image:url(axs_calendar_spring.jpg);
	}
.axs_calendar.spring.compact {
	background-image:url(axs_calendar_spring_compact.jpg);
	}
.axs_calendar.summer {
	background-image:url(axs_calendar_summer.jpg);
	}
.axs_calendar.summer.compact {
	background-image:url(axs_calendar_summer_compact.jpg);
	}
.axs_calendar.autumn {
	background-image:url(axs_calendar_autumn.jpg);
	}
.axs_calendar.autumn.compact {
	background-image:url(axs_calendar_autumn_compact.jpg);
	}
.axs_calendar.winter {
	background-image:url(axs_calendar_winter.jpg);
	}
.axs_calendar.winter.compact {
	background-image:url(axs_calendar_winter_compact.jpg);
	}
	html body form.axs_calendar>h1.title {
		float:left;
		margin:5px 5px 0 0;
		padding:0;
		font-size:12px;
		font-weight:bold;
		font-style:italic;
		}
	.axs_calendar p.today {
		float:left;
		margin:5px 5px 0 0;
		padding:0;
		font-weight:bold;
		}
		.axs_calendar p.today a {
			color:#000099;
			}
	.axs_calendar .select {
		float:left;
		margin:0;
		border:none;
		padding:0;
		}
	.axs_calendar fieldset.select input,
	.axs_calendar fieldset.select select {
		font-size:9px;
		max-width:55px;
		}
		.axs_calendar .select * {
			max-height:20px;
			}
		.axs_calendar .select label {
			display:inline;
			}
		.axs_calendar.compact .select label {
			position:absolute;
			top:-999px;
			}
		.axs_calendar .select option.current {
			font-weight:bold;
			}
	.axs_calendar table caption {
		text-align:center;
		font-size:18px;
		font-style:italic;		
		font-weight:bolder;
		}
	.axs_calendar.compact table caption {
		font-size:12px;
		font-style:normal;		
		font-weight:normal;
		}
		.axs_calendar table caption,
		.axs_calendar table caption a {
			color:#000099;
			text-decoration:none;
			}
	.axs_calendar table {
		clear:left;
		border:none;
		border-spacing:1px;
		border-collapse:separate;
		width:100%;
		background:none;
		}
		.axs_calendar caption {
			text-align:left;
			}
		.axs_calendar th,
		.axs_calendar td {
			border:none;
			padding:1px;
			background:none;
			}
		.axs_calendar thead th.week_nr {
			width:5.5%;
			}
		.axs_calendar thead th {
			width:13.5%;
			background:#000;
			color:#999999;
			text-align:center;
			vertical-align:middle;
			}
		.axs_calendar tbody tr.this_week {
			}
			.axs_calendar tbody tr.this_week th {
				border:1px solid;
				}
			.axs_calendar tbody tr.selected th,
			.axs_calendar tbody tr.selected th a {
				background:#000;
				color:#fff;
				}
		.axs_calendar tbody th {
			vertical-align:middle;
			}
			.axs_calendar tbody th a {
				color:#000;
				text-decoration:none;
				}
		.axs_calendar tbody td {
			text-align:right;
			vertical-align:top;
			}
		.axs_calendar tbody td.selected {
			border:1px solid rgb(128,128,128);
			}
			.axs_calendar tbody td a {
				text-decoration:none;
				}
			.axs_calendar.compact tbody td a {
				text-decoration:underline;
				}
		/*.axs_calendar .other_month {
			background:none;
			}*/
		.axs_calendar .this_month {
			background:#EBEBEB;
			}
		.axs_calendar .this_month.weekend {
			color:#000000;
			background:#D9ECFF;
			}
		.axs_calendar tbody td.this_month.holiday {
			color:#FF0000;
			background:#D9ECFF;
			}
		.axs_calendar tbody td.this_month.today {
			border:1px solid #000;
			}
			.axs_calendar tbody td.this_month.today strong {
				}
			.axs_calendar tbody td div {
				margin:0px 1px 0px 1px;
				border-top:1px solid rgb(128,128,128);
				padding:1px;
				text-align:left;
				}
			.axs_calendar.compact tbody td div {
				display:none;
				width:50px;
				}
				.axs_calendar tbody td div a {
					text-decoration:underline;
					}
				.axs_calendar tbody td div span.owner {
					color:rgb(100,100,100);
					}
	.axs_calendar ul.legend {
		margin:5px 0px 5px 6%;
		padding:0px;
		max-width:200px;
		list-style-position:inside;
		}
		.axs_calendar ul.legend li {
			margin:0px 0px 1px 0px;
			padding:0px 0px 0px 10px;
			}
