/*27.03.2013*/
.breadcrumb {
	margin:0;
	padding:0;
	font-size:inherit;
	font-weight:normal;
	}
nav .right {	float:right;	}
#header_edit_modules_list td.forms>table {
	width:100%;
	}
	#header_edit_modules_list td.forms>table th.edit {
		width:10%;
		white-space:nowrap;
		}
#header_edit td.id,
#header_edit td.rank {	text-align:right;	}
#header_edit th.edit,
#header_edit td.edit {
	width:1%;
	vertical-align:bottom;
	}
#header_edit td.options ul {
	margin:0;
	padding:0;
	}
	#header_edit td.options ul li {
		list-style:none;
		margin:0;
		padding:0;
		}
	#header_edit td.options ul li.act>a {
		color:rgb(100,100,100);
		font-weight:bolder;
		}
		#header_edit td.options ul li ul {
			margin:0 0 0 15px;
			}
#header_edit .addform input {
	margin:0;
	border:none;
	padding:0;
	font-size:10px;
	}
#header_edit #edit-tr th,
#header_edit #edit-tr td {	white-space:nowrap;	}
#header_edit #edit-tr th.field {	text-align:left;	}
#header_edit #edit-tr td .span.progress {	display:block;	}