     <form id="{$id}" action="{$action}" method="get" enctype="application/x-www-form-urlencoded" class="search">
      <div class="clear">{$elements1}</div>
{$elements}
      <div id="s_container">
       {$_order}
       <input name="axs[search]" type="submit" class="submit" value="{$search.submit.lbl}" />
	   {$export}
      </div>
     </form>
	 <script>axs.form.init("{$id}");</script>