/*2017-12-26*/
/*#content form.search * {	border:1px dotted;	}*/
#content form.search {
	padding:5px;
	border:1px solid #666666;
	background:rgb(235,235,235);
	}
	#content form.search::after {
		clear:both;
		display:table;
		content:"";
		}
	/*#content form.search div.row {
		margin:0 0 3px 0;
		background:rgb(245,245,245);
		}*/
	#content form.search .element {
		clear:none;
		float:left;
		margin:0 0.3% 0.3% 0;
		padding:0.3%;
		width:49%;
		border:none;
		background:rgb(245,245,245);
		}
	#content form.search .element.category,
	#content form.search .element.multi-checkbox,
	#content form.search .element.set-checkbox/*,
	#content form.search .element.timestamp-between*/ {
		clear:left;
		float:none;
		width:98.8%;
		text-align:left;
		}
		#content form.search .element span.comment {
			color:rgb(128,128,128);
			}
		#content form.search div.element label:first-child {
			float:left;
			display:block;
			padding-top:3px;
			width:140px;
			text-align:left;
			}
		#content form.search fieldset.element label {
			float:left;
			display:block;
			margin:0 5px 0 0;
			white-space:nowrap;
			}
		#content form.search .element input[type="text"],
		#content form.search .element select {
			max-width:120px;
			}
		#content form.search .element.text-between input {
			max-width:55px;
			}
		#content form.search .element.timestamp-between input[type="number"] {	max-width:6ex;	}
		#export_container #export_columns {
		/*float:left;
		margin-right:0;
		width:60%;*/
		}
		#export_container #export_columns .element, #export_container #export_columns .element label {
			float:none;
			display:inline;
			white-space:nowrap;
			}
	#export_container #export_settings {
		/*float:right;
		margin-left:0;
		width:30%;*/
		}
		#export_container #export_settings .element {
			float:none;
			width:auto;
			}
/*2009-06-06*/