/*2022-03-02*/
/*form.axs * {	border:1px dotted;	}*/
form.ajax-post.ajax-ready>* {
	animation:axs_fade-in 3s 1;
	}
form.edit {	padding:5px;	}
	form.edit .tools {
		margin:0;
		padding:0 5px;
		text-align:right;
		}
		form.edit .tools li {	display:inline;	}
		form.edit .tools li::before {	content:' - ';	}
		form.edit .tools li.left {	float:left;	}
		form.edit .tools li.left::before {	content:"";	}
		form.edit .tools::after {
			content:"";
			display:table;
			clear:both;
			}
	form.axs ul.msg {
		clear:left;
		margin:0 5px 5px 5px;
		border:solid 1px #f00;
		padding-left:75px;
		min-height:35px;
		color:#F00;
		text-align:left;
		}
	form.edit>.element, form.edit fieldset>.element {
		clear:left;
		margin:5px 5px 0 5px;
		padding:5px 5px 5px 160px;
		background:rgb(245,250,255);
		}
	form.edit .element.disabled,
	form.edit label.disabled{	background:rgb(250,250,250);	}
	form.edit .element.disabled,
		form.edit .element.disabled *,
		form.edit label.disabled {	color:rgb(150,150,150);	}
	form.edit>.element:after, form.edit fieldset>.element:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
		}
	form.edit>.element.content,
	form.edit>.element.table {
		padding-left:0;
		}
		form.axs>.element.table td {	vertical-align:top;	}
		form.axs>.element.table .element.nr input,
		form.axs>.element.table .element.id input {	max-width:3em;	}
		form.axs>.element.table .element.text-join {	white-space:nowrap;	}
		form.axs .element ._del {	color:#f00;	}
		form.axs .element.submit span.delete {	float:right;	}
		form.edit>div.element>label:first-child,
		form.edit fieldset>div.element>label:first-child,
		form.edit fieldset.element>label:first-child {
			float:left;
			margin-left:-155px;
			padding:3px 0;
			width:150px;
			}
		form.axs>.element.table tr._loading span.throbber {
			position:static;
			}
	form.edit fieldset.element.text>label,
	form.edit fieldset.element.textarea>label {	white-space:nowrap;	}
		form.edit fieldset.element.text>label>span,
		form.edit fieldset.element.textarea>label>span {
			display:inline-block;
			width:1.8em;
			}
	form.axs .element.file span.progress,
		form.axs .element.file span.progress span {	display:block;	}
	form.axs .element.file .thumb {
		display:inline-block;
		margin:0 5px 5px 0;
		border:solid 1px #000;
		padding:3px;
		background:rgb(230,230,230);
		border-radius:3px;
		max-width:10rem;
		}
	form.axs .element.file .thumb:empty {	display:none;	}
	form.axs .element.file .thumb a {	text-decoration:none;	}
		form.axs .element.file .thumb figcaption {
			background:#fff;
			border-top-left-radius:3px;
			border-top-right-radius:3px;
			}
			form.axs .element.file .thumb img {
				margin:0;
				padding:0;
				vertical-align:middle;
				}
	form.axs .element.file span.file_name {	color:rgb(150,150,150);	}
	form.axs .element.timestamp input[type="number"],
	form.axs .element.timestamp-between input[type="number"] {	max-width:6ex;	}
	form.axs>fieldset {
		clear:both;
		margin:0 0 5px 0;
		padding:5px;
		}
		form.edit>fieldset.element.multi-checkbox>label,
		form.edit>fieldset.element.set-checkbox>label {
			float:left;
			white-space:nowrap;
			}
		form.axs fieldset.element.radio>label {
			display:block;
			}
	form.axs>fieldset legend+.element {
		margin-top:0;
		border-top:none;
		}
	form.edit>fieldset>.element {
		margin:5px 0 0 0;
		padding:2px 0 0 155px;
		}
	form.axs .input_required {
		color:#F00;
		}
		form.axs .input_required abbr {
			text-decoration:none;
			border-bottom:none;
			}
	form.axs label .comment,
	form.axs legend .comment {
		display:block;
		color:rgb(128,128,128);
		font-weight:normal;
		}
	form.axs input[readonly="readonly"],
	form.axs textarea[readonly="readonly"] {
		background:rgb(200,200,200);
		color:rgb(64,64,64);
		}
	form.edit input[type="email"],
	form.edit input[type="url"] {
		/*color:rgb(0,0,238);*/
		text-decoration:underline;
		}
	form.axs input[type="file"] {
		max-width:70%;
		}
	form.axs input[type="date"], form.axs input[type="email"], form.axs input[type="number"], form.axs input[type="password"], form.axs input[type="tel"], form.axs input[type="text"], form.axs input[type="range"], form.axs input[type="search"], form.axs input[type="url"], form.axs textarea {
		box-sizing:border-box;
		max-width:100%;
		}
	form.axs div.browse {
		position:absolute;
		margin-bottom:20px;
		min-width:300px;
		max-height:250px;
		overflow:auto;
		border:1px solid #AABBCC;
		/*padding:0 3px;*/
		background:#fff;
		}
	form.axs div.browse {
		box-shadow:3px 3px 5px rgb(128,128,128);
		}
		form.axs div.browse table {
			width:100%;
			border-collapse:collapse;
			}
			form.axs div.browse table thead th {	background:rgb(240,240,240);	}
			form.axs div.browse table thead th.value {	text-align:left;	}
		form.axs div.browse  table tbody a.update:focus,
		form.axs div.browse table tbody tr:hover,
		form.axs div.browse table tbody tr.focus {
			background:rgb(50,100,255);
			}
			form.axs div.browse table tbody tr:hover *,
			form.axs div.browse table tbody tr.focus * {	color:#fff;	}
			form.axs div.browse table tbody td {
				padding:0 5px;
				}
		form.axs div.browse a.close {
			float:right;
			padding:0 3px;
			text-decoration:none;
			}
		form.axs div.browse img.throbber {
			display:block;
			margin:20px auto;
			text-align:center;
			}
	form.axs table.table {
		border:1px solid rgb(128,128,128);
		border-collapse:collapse;
		empty-cells:show;
		}
		form.axs table.table caption {
			margin:0;
			border-bottom:1px solid rgb(128,128,128);
			padding:0 1px;
			background:rgb(215,215,215);
			text-align:left;
			}
		form.axs table.table tr.delete * {
			background:rgb(200,200,200);
			color:rgb(128,128,128);
			text-decoration:line-through;
			}
		form.axs table.table tr.rank:hover {
			cursor:move;
			}
			form.axs table.table tr.rank input[type="number"].rank {
				margin-left:1em;
				}
		form.axs table.table th {
			border:1px solid rgb(128,128,128);
			background:rgb(230,230,230);
			}
		form.axs table.table td {
			border:1px solid rgb(128,128,128);
			background:#fff;
			}
		form.axs table.table td._nr {
			text-align:right;
			}
		form.axs table.table td._add {
			vertical-align:bottom;
			}
	form.axs button.close {
		border:none;
		background:none;
		font-size:0;
		}
		form.axs button.close::before {
			content:"";
			display:inline-block;
			/*vertical-align:middle;*/
			width:0;
			height:0;
			border:solid transparent;
			border-bottom-color:#000;
			border-width:0 0.6rem 0.7rem 0.6rem;
			transition:transform 1s;
			}
		form.axs button.close.closed::before {	transform:rotate(180deg);	}
form.axs.search fieldset legend {
	background:none;
	color:inherit;
	}
/*2009-12-31*/