{$_content}
		<div id="articles_list">
			<h2 id="time_between">{$time_between} {$show_all_link}</h2>
{$_articles}
		</div>
		<div class="pager">
			{$pager.prev}
			<span class="pages">{$pager.pages}</span>
			{$pager.next}
		</div>