/*2019-04-19*/
/*<List>*/
#content #articles_list {
	}
#content .item  {
	clear:left;
	margin-bottom:5px;
	/*padding:0px 5px;
	background:rgb(228,246,255);*/
	}
#content .item.arh *,
#content .item._disabled * {
	background:rgb(240,240,240);
	color:rgb(128,128,128);
	}
	#content .item .right {	float:right;	}
	#content .item h2 {
		margin:0 90px 5px 0;
		padding:0;
		}
	#content .item input.delete:not(:disabled) {	color:#f00;	}
/*</List>*/
/*<Article content>*/
#content .files li {	display:inline-block;	}
#content img.file {
	/*float:left;*/
	margin:0 10px 10px 0;
	width:10rem;
	}
/*</Article content>*/
/*<Article content comments>*/
#content div.comments {
	/*margin:0;
	padding:0px 5px 5px 5px;*/
	}
	#content div.comments h1 {	margin-top:0;	}
/*</Article content comments>*/
/*2012-07-21*/