/*2016-08-22*/
#content #articles_list {}
	#content #articles_list>article._folder {
		margin:0 0 1rem 0;
		}
		#content #articles_list>article._folder h2 {
			margin:0 0 0.5rem 0;
			padding:0;
			}
			#content #articles_list>article h2 a {
				text-decoration:none;
				}
			#content #articles_list>article._folder time {
				font-weight:normal;
				font-size:1rem;
				}
		#content #articles_list>article._folder .thumbs {}
			#content #articles_list>article._folder .thumbs>* {
				margin:0;
				width:49%;
				}
	#content #articles_list>article.item {
		display:inline-block;
		margin:0;
		width:49%;
		}
		#content #articles_list>article.item>h2 {	display:none;	}
#content .back {
	margin:2rem 0;
	}
@media all and (min-width:45em) {
	#content #articles_list>article._folder .thumbs>* {
		margin:0 1rem 1rem 0;
		width:10rem;
		}
	#content #articles_list>article.item {
		margin:0 2rem 2rem 0;
		width:10rem;
		}
	}
/*2008-06*/