/*2015-04-04*/
/*#content #list>* {
	display:inline-block;
	clear:none;
	margin:0 0 1em 0;
	padding:0;
	vertical-align:bottom;
	}
#content #list>.add {
	vertical-align:middle;
	}
#content #list>.item {
	width:30em;
	}
	#content #list>.item {
		
		}*/
	#content #list>.item .thumbs img {
		margin:0 0.5em 0.2em 0;
		max-width:15em;
		}
/*2012-07-12*/