		{$_content}
		<div id="articles_list" class="list">
{$_articles}
		</div>
		{$arh_link}
		{$_back}
		<div class="pager">
			{$pager.prev}
			<span class="pages">{$pager.pages}</span>
			{$pager.next}
		</div>