      <form id="{$section}-{$id}" class="{$_class} post-ajax" action="{$article_url}#id-{$id}" method="post">
       <fieldset>
	    <legend><a href="{$article_url}">{$title}</a></legend>
{$_choice}
       </fieldset>
	   <script>axs.form.init("{$section}-{$id}");</script>
	  </form>
