/*2020-12-11*/
/*<List>*/
/*#content .item * {	outline:1px dotted;	}*/
#content #articles_list {}
#content .item {
	clear:left;
	margin:0 0 3rem 0;
	border-bottom:solid 1px rgb(203,203,203);
	padding:0 0 1rem 0;
	}
#content .item:last-child {	border-bottom:none;	}
#content .item.disable {
	color:rgb(128,128,128);
	}
	#content .item.disable h2 a {	color:rgb(128,128,128);	}
	#content .item h2 {
		/*float:left;*/
		margin:0 0 10px 0;
		padding:0 0 10px 0;
		font-size:1.5em;
		}
		#content .item h2 a {
			text-decoration:none;
			}
		#content .item h2 a:hover {}
		#content .item h2::after {
			display:block;
			clear:both;
			content:"";
			}
		#content .item._current h2 a {	color:rgb(100,100,100);	}
	#content .item .publ {
		float:right;
		display:block;
		text-align:right;
		font-weight:normal;
		font-size:0.8em;
		}
	#content .item .summary {}
	#content .item .file {
		display:block;
		}
		#content .item img.file,
		#content .item .file img {
			margin:0 5px 5px 0;
			}
	#content .item .link {
		margin:10px 10px 0 0;
		}
/*</List>*/
/*<Article content>*/
#content.article-level2 {}
#content article.article>header h1 {
	margin:0 0 1rem 0;
	}
#content article.article .socialmedia {
	margin-bottom:0.5rem;
	text-align:right;
	}
	#content article.article .socialmedia>* {
		vertical-align:top !important;
		line-height:0 !important;
		}
	#content article.article .socialmedia>div {	display:inline-block;	}
		#content article.article .socialmedia img {
			margin:0;
			border:none;
			padding:0;
			vertical-align:middle;
			}
		/*#content article.article .socialmedia  #___plusone_0 {}*/
		#content article.article .socialmedia  .IN-widget>* {	vertical-align:bottom !important;	}
#content article.article .summary {	clear:left;	}
#content article.article .summary>.file {
	}
#content article .back {
	margin:1em 0;
	}
/*</Article content>*/
/*<Article content comments>*/
#content #list {
	margin-top:20px;
	}
	#content #list .comment {
		margin-bottom:10px;
		border-bottom:1px solid #000;
		padding:3px 4px;
		}
		#content #list .comment p {
			margin:0px 0px 5px 0px;
			padding:0px;
			}
		#content #list .comment .name {
			float:left;
			font-weight:bold;
			}
		#content #list .comment .time {
			}
		#content #list .comment .message {
			clear:both;
			}
/*</Article content comments>*/
@media all and (min-width:45em) { /* 45*12px=720px */
	#content .item .summary {
		/*clear:both;*/
		/*margin:0 0 0 240px;*/
		}
	#content .item .file {}
	#content article.article>header h1 {
		float:left;
		margin:0 1rem 1rem 0;
		}
	#content article.article .publ {
		clear:left;
		float:left;
		}
	#content article.article .socialmedia {	float:right;	}
	#content article.article .summary {
		clear:both;
		padding-top:2rem;
		}
	#content article.article .summary>.file {
		float:left;
		margin:0 1.5rem 1rem 0;
		max-width:33%;
		}
	#content .item .file {	float:left;	}
	#content article.article .files a {
		display:inline-block;
		width:8rem;
		}
		#content article.article .files a img {
			vertical-align:middle;
			width:100%;
			}
	}
/*2010-11-05*/