/*21.07.2012*/
#content .articles_item.poster {
	border-color:#f00;
	}
	#content .articles_item.poster h2 a {
		color:#f00;
		}
#content form.form .element.table td.element {
	padding:1px;
	}
#content form.form .element.table caption,
#content form.form .element.table td.element.timestamp-between {	white-space:nowrap;	}
/*21.07.2012*/