/*31.12.2012*/
#poll_banner form {
	margin:0 0 10px 0;
	padding:0;
	/*background:none;*/
	color:rgb(100,100,100);
	font-size:0.8em;
	}
	#poll_banner form label,
	#poll_banner form>input {
		margin:0 0 5px 3px;
		}
	#poll_banner legend a {
		color:#000;
		text-decoration:none;
		}
#poll_banner dl {
	margin:0;
	padding:0;
	}
	#content .articles_poll dl dd {	width:50%;	}
		.articles_poll dl dd div {
			border:solid 1px rgb(0,0,0);
			}
			.articles_poll dl dd div span {
				display:block;
				height:0.7em;
				background:rgb(255,0,0);
				}
/*31.12.2012*/