/*2016-10-10*/
/*<List>*/
/*#content .articles_item * {	outline:1px dotted;	}*/
#content #articles_list {
	clear:both;
	}
#content article.item {
	clear:left;
	border-top:solid 1px rgb(203,203,203);
	padding:5px 35px 5px 10px;
	background:rgb(230,230,230) url(gfx/articles_events_item_bg.png) top repeat-x;
	}
	#content article.item h2 {
		float:left;
		width:100%;
		}
		#content article.item h2 a {
			text-decoration:none;
			}
			#content article.item h2 a:hover {
				text-decoration:underline;
				}
	#content article.item .menu_pic {
		float:right;
		display:block;
		margin:0 -30px 0 0;
		padding:0 0 0 5px;
		width:25px;
		height:25px;
		}
	#content article.item .publ,
	#content article.item .time {
		display:block;
		color:rgb(120,120,120);
		font-size:0.9em;
		}
	#content article.item .summary {
		clear:both;
		}
	#content article.item .file {
		float:left;
		}
		#content article.item .file img {
			margin:0 5px 5px 0;
			}
/*</List>*/
/*<Article content>*/
#content article.article .socialmedia {
	margin-bottom:0.5rem;
	text-align:right;
	}
	#content article.article .socialmedia>* {
		vertical-align:top !important;
		line-height:0 !important;
		}
	#content article.article .socialmedia>div {	display:inline-block;	}
		#content article.article .socialmedia img {
			margin:0;
			vertical-align:middle;
			}
		/*#content article.article .socialmedia  #___plusone_0 {}*/
		#content article.article .socialmedia  .IN-widget>* {	vertical-align:bottom !important;	}
#content article.article a.file {
	display:block;
	margin:0 0 10px 0;
	}
	#content article.article a.file img {}
#content article table.table {
	margin-bottom:1em;
	color:rgb(128,128,128);
	}
	#content article table.table,
	#content article table.table td {	border:none;	}
	#content article table.table caption,
	#content article table.table th {
		position:absolute;
		left:-999em;
		top:-999em;
		}
	#content article table.table td.time {	padding-left:1ex;	}
#content .qr_code img {	margin:0;	}
#content .back {
	clear:left;
	}
/*</Article content>*/
/*<Article content comments>*/
#content #list {
	margin-top:20px;
	}
	#content #list .comment {
		margin-bottom:10px;
		border-bottom:1px solid #000;
		padding:3px 4px;
		}
		#content #list .comment p {
			margin:0px 0px 5px 0px;
			padding:0px;
			}
		#content #list .comment .name {
			float:left;
			font-weight:bold;
			}
		#content #list .comment .time {
			}
		#content #list .comment .message {
			clear:both;
			}
/*</Article content comments>*/
@media all and (min-width:45em) {
	#content article.article a.file {
		float:left;
		margin:0 10px 10px 0;
		max-width:40%;
		}
	}
/*2010-11-05*/