		<h1 class="folder title">{$title}</h1>
		<div class="folder summary">{$summary}</div>
		<div id="articles_list" class="list">
{$_articles}
		</div>
		{$js}
		{$_back}
		<div class="pager">
			{$pager.prev}
			<span class="pages">{$pager.pages}</span>
			{$pager.next}
		</div>