/*23.08.2012*/
/*<List>*/
/*#content .articles_item * {	outline:1px dotted;	}*/
#time_between a {
	float:right;
	font-weight:normal;
	}
#content #articles_list {
	margin:30px 0 0 0;
	}
#content .articles_item {
	margin:-1px 0 0 -1px;
	border:solid 1px rgb(203,203,203);
	padding:5px;
	height:80px;
	overflow:hidden;
	}
@media all and (min-width:45em) {
#content .articles_item {
	float:left;
	width:339px;
	}
}
	#content .articles_item h3 {
		padding-right:30px;
		font-size:0.8em;
		}
		#content .articles_item h3 a {
			color:#000;
			text-decoration:none;
			}
			#content .articles_item h3 a:hover {
				}
	#content .articles_item img {	margin:0;	}
	#content .articles_item .file {
		float:left;
		display:block;
		margin:0 5px 0 0; 
		}
		#content .articles_item .file img {
			max-width:60px;
			max-height:80px;
			}
	#content .articles_item .menu_pic {
		float:right;
		display:block;
		margin:0 -30px 0 0;
		padding:0 0 0 5px;
		width:25px;
		height:25px;
		}
	#content .articles_item .publ,
	#content .articles_item .time {
		white-space:no-wrap;
		color:rgb(120,120,120);
		font-size:0.9em;
		}
/*</List>*/
/*23.08.2012*/