	<div class="text">{$content}</div>
	<form action="{$url_formact}" method="post" class="login pw">
		<fieldset><legend>{$user_login.lbl}</legend>
			{$msg}
			<label for="{$section}-pw">{$pass.lbl}</label><input name="pw" type="password" id="{$section}-pw" size="10" maxlength="25" /><br />
			<input type="submit" name="submit" value="{$submit.lbl}" />
		</fieldset>
	</form>