/*2016-08-13*/
.plugin-deflt_tabs div.tabs {
		clear:both;
		margin:0 0 2rem 0;
		}
		.plugin-deflt_tabs div.tabs .nav {
			margin:0;
			padding:0;
			}
			.plugin-deflt_tabs div.tabs .nav li {
				display:inline-block;
				margin:0;
				padding:0;
				}
				.plugin-deflt_tabs div.tabs .nav li>a>* {
					margin:0;
					padding:0;
					}
				.plugin-deflt_tabs div.tabs .nav li a {
					display:block;
					margin-bottom:-1px;
					border:solid 1px rgb(142,142,142);
					border-width:1px 1px 0 1px;
					border-radius:0.3rem 0.3rem 0 0;
					padding:0.3rem 1.5rem;
					background:rgb(242,242,242);
					background:linear-gradient(to bottom, rgb(242,242,242), rgb(209,209,209));
					color:inherit;
					text-decoration:none;
					}
				.plugin-deflt_tabs div.tabs.js .nav li.current a {
					background:#fff;
					}
		.plugin-deflt_tabs div.tabs .tab {
			border:solid 1px rgb(142,142,142);
			border-radius:0 0.3rem 0.3rem 0.3rem;
			padding:1.5rem;
			}
			.plugin-deflt_tabs div.tabs.js .tab h2:first-child {
				position:absolute;
				left:-999em;
				top:-999em;
				}
/*2016-08-13*/