			<tr id="nr{$nr}">
				<th class="nr right" scope="row">{$nr}</th>
				<td class="product">{$product_img_url}{$text}</td>
				<td class="price nowrap right">{$price.fmt}</td>
				<td class="amount right">{$amount.fmt}{$amount_unit.txt}</td>
				<td class="vat right">{$vat.fmt}</td>
				<td class="sum nowrap right">{$sum+vat.fmt}</td>
			</tr>
