		<form id="banklink_{$bank}" class="{$class}" action="{$form_act}" method="post" enctype="application/x-www-form-urlencoded">
			<input name="bank" type="hidden" value="{$id}"{$disabled} />
			<button name="submit" type="submit"{$disabled}>{$button}</button>
		</form>
