		<form id="order-list" method="get" action="?">
			{$url}
			<fieldset><legend>{$orders.search.lbl}</legend>
				<label for="order_nr">{$orders.order_nr.lbl}:</label>
				<input id="order_nr" name="order_nr" value="{$order_nr}" type="search" size="15" />
				<input id="s" name="s" value="{$orders.search.lbl}" type="submit" />
			</fieldset>
			{$msg}
			<table>
				<thead>
					<tr><th>{$orders.time.lbl}</th><th>{$orders.order_nr.lbl}</th><th>{$orders.revenue.lbl}</th><th>{$orders.status.lbl}</th></tr>
				</thead>
{$orders}
			</table>
		</form>
