/*2016-07-07*/
.plugin-eshop #content #back {
	margin-bottom:1em;
	}
.plugin-eshop #content .menu {}
	.plugin-eshop #content .menu ul {
		margin:0;
		border:solid rgb(200,200,200);
		border-width:0 0 1px 0;
		padding:0 0 0 1em;
		}
		.plugin-eshop #content .menu li {
			display:inline-block;
			margin:0 0.1em -1px 0;
			border-style:inherit;
			border-width:1px;
			border-color:rgb(245,245,245);
			border-bottom-color:rgb(200,200,200);
			border-radius:0.5em 0.5em 0 0;
			padding:0 0.5em;
			background:rgb(245,245,245);
			}
			.plugin-eshop #content .menu li a {}
			.plugin-eshop #content .menu li.current {
				border-color:inherit;
				border-bottom-color:rgb(245,245,245);
				}
				.plugin-eshop #content .menu li.current a {}
				.plugin-eshop #content .menu li.current a strong {	font-weight:normal;	}
.plugin-eshop #content .tab {
	border:solid 1px rgb(200,200,200);
	border-top:none;
	border-radius:0 0 0.5em 0.5em;
	padding:0.5rem;
	background:rgb(245,245,245);
	}
		
.plugin-eshop #content form {}
.plugin-eshop #content table {
	border-collapse:initial;
	border-spacing:0.5em;
	}
	.plugin-eshop #content table caption {}
	.plugin-eshop #content table th,
	.plugin-eshop #content table td {}
	.plugin-eshop #content table th.right,
	.plugin-eshop #content table td.right {	text-align:right;	}
	
.plugin-eshop #content #cart {}
	.plugin-eshop #content #cart td.amount {	white-space:nowrap;	}
	.plugin-eshop #content #cart td.amount input[type="number"] {	max-width:4em;	}
	.plugin-eshop #content #cart tfoot td {
		text-align:right;
		}
		.plugin-eshop #content #cart tfoot td output {	display:block;	}
			.plugin-eshop #content #cart tfoot td output * {
				display:inline-block;
				min-width:5em;
				}

.plugin-eshop #content #checkout {}
	.plugin-eshop #content #checkout div.element {	margin-bottom:0.5em;	}
	.plugin-eshop #content #checkout label {
		display:block;
		}
	.plugin-eshop #content #checkout .payment table {
		text-align:right;
		}
	
		.plugin-eshop #content #order_search {}
		.plugin-eshop #content #order_search fieldset {}
		.plugin-eshop #content #order_search label {
			display:inline;
			width:auto;
			}
		.plugin-eshop #content #order_search label,
		.plugin-eshop #content #order_search input {
			float:left;
			}
		.plugin-eshop #content #order_search input {
			margin:0px 20px 0px 5px;
			width:120px;
			}
		
		.plugin-eshop #content #order-view {}
			.plugin-eshop #content #order-view .order-content {	padding:0;	}
				.plugin-eshop #content #order-view .order-content .client {	padding:0 0 0 3em;	}
					.plugin-eshop #content #order-view .order-content .client dt {
						font-weight:bold;
						padding:0 1em 0 0;
						width:9em;
						}
				.plugin-eshop #content #order-view .order-content .tools {	padding:0 0 0 3em;	}
					.plugin-eshop #content #order-view .order-content .tools li {
						display:inline;
						list-style-type:none;
						}
			.plugin-eshop #content #order-view .payment {}
				.plugin-eshop #content #order-view .payment form {
					margin:0 0 1em 0;
					padding:0;
					background:none;
					}
					.plugin-eshop #content #order-view .payment form fieldset {
						margin:0;
						padding:0;
						border:none;
						}
					
@media all and (min-width:45em) {
	.plugin-eshop #content #checkout>fieldset {
		clear:none;
		float:left;
		width:25rem;
		}
	.plugin-eshop #content #order-view .order-content {
		float:left;
		box-sizing:border-box;
		width:60%;
		}
	.plugin-eshop #content #order-view .payment {
		float:right;
		width:35%;
		}
	}
/*2008*/