/*2015-07-28*/
#content-content table.table th, #content-content table.table td {
	padding-left:0.5em;
	padding-right:0.5em;
	}
td.order_nr, td.revenue {	text-align:right;	}
td.time, td.revenue, td.invoice_id, td.status {	white-space:nowrap;	}
th._edit * {	display:none;	}
/*2015-07-28*/