		<section id="search_banner">
			<h2>{$search.lbl}</h2>
			<form class="search" action="?" method="get">
				{$formact}
				<label><span>{$search.lbl}</span><input name="axs[content-search]" type="search" value="{$search}" size="10" /></label>
				<input name="axs[s]" type="submit" value="{$search.lbl}" />
			</form>
		</section>