		<div class="row{$nr}">
			<h3><a href="{$url}" target="_blank">{$title}</a></h3>
			<div>
				{$text}
				<p class="path"><a href="{$url}" target="_blank"><span>{$path}</span></a></p>
			</div>
		</div>
