     {$text}
     <form action="?" method="get" class="search">
      {$formact}
      <label>{$search.lbl}<input name="axs[content-search]" type="text" value="{$search}" size="10" /></label>
      <input name="axs[s]" type="submit" value="{$search.lbl}" />
     </form>
     <h2 class="search_result">{$search_result.txt}</h2>
{$list}