/*.axs_slider .play {
	position:absolute;
	margin:2rem 0 0 2rem;
	border-radius:0.5em;
	padding:0.3em;
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-decoration:none;
	opacity:0;
	transition:opacity 1s linear;
	}
.axs_slider:hover .play,
.axs_slider .play:focus {
	opacity:1;
	}*/